---
import Card from "./Card.astro";
import ImageCard from "./ImageCard.astro";
---

<div class="my-20 mx-20 text-gray-400">
    <h2 class="text-4xl font-bold mb-8">About Us</h2>
    <p class="leading-7 w-3/4 mb-20">Welcome to [Photo Studio Name], where moments become memories. Our passionate team of photographers specializes in capturing the beauty and essence of life. With top-of-the-line equipment and a variety of backdrops, we create stunning visuals tailored to your vision. From portraits to family sessions and corporate headshots, we offer a range of photography services. Preserve your cherished memories with our high-quality prints, albums, and digital files. Contact us today to schedule your personalized photoshoot and experience the artistry of [Photo Studio Name].</p>
    <div class="flex justify-center mb-20">
        <Card number="1.500+" title="Happy Clients"><i class="fas fa-camera-retro text-7xl"></i></Card>
        <Card number="10.000+" title="Captured Moments"><i class="fas fa-images text-7xl"></i></Card>
        <Card number="30+" title="Awards Won"><i class="fas fa-trophy text-7xl"></i></Card>
    </div>
    <div class="flex justify-center">
        <ImageCard src="/img/about/01.jpg" text="Capture your true essence with our expert photographers who excel in dramatic portraits." alt="01" />
        <ImageCard src="/img/about/02.jpg" text="Experience the beauty of nature through stunning landscapes that‘ll leave you breathless." alt="02" />
        <ImageCard src="/img/about/03.jpg" text="Discover the contrasts and colors that make urban cityscapes a photographer‘s playground." alt="03" />
    </div>
</div>