<section class="my-20 mx-40 text-gray-400">
    <div class="flex justify-center mb-10">
        <div class="flex flex-col mx-32">
            <a href="" class="my-2">Services</a>
            <a href="" class="my-2">Portraits</a>
            <a href="" class="my-2">Commercial</a>
            <a href="" class="my-2">Weddings</a>
        </div>
        <div class="flex flex-col mx-32">
            <a href="" class="my-2">Membership</a>
            <a href="" class="my-2">Plan</a>
            <a href="" class="my-2">Pricing</a>
            <a href="" class="my-2">Benefits</a>
        </div>
        <div class="flex flex-col mx-32">
            <a href="" class="my-2">Support</a>
            <a href="" class="my-2">FAQ</a>
            <a href="" class="my-2">Contact Us</a>
        </div>
    </div>
    <div class="flex flex-col text-center">
        <div class="mb-5">
            <a href="" class="my-2"><i class="fab fa-twitter text-2xl mx-5"></i></a>
            <a href="" class="my-2"><i class="fab fa-instagram text-2xl mx-5"></i></a>
            <a href="" class="my-2"><i class="fab fa-facebook text-2xl mx-5"></i></a>
            <a href="" class="my-2"><i class="fa fa-envelope text-2xl mx-5"></i></a>
        </div>
        <p class="tracking-widest">© 2023 SnapStudios. All rights reserved.</p>
    </div>
</section>
