---
export interface Props {
    src: string;
    alt: string;
    text: string;
}

const { src, alt, text } = Astro.props;
---

<div class="w-64 mx-[4.5rem]">
    <img src={src} alt={alt} class="w-60 h-60 object-cover" />
    <p class="my-3 leading-7 text-sm">{text}</p>
</div>
