<div class="my-20 mx-40 text-gray-300">
    <h2 class="text-4xl mb-10">Our Plans - Best In The Industry!</h2>
    <p class="text-2xl w-1/2 mb-5">Pamper yourself with our customizable packages suitable for every budget and occasion.</p>
    <div class="w-1/2 flex justify-between">
        <div>
            <h3 class="text-2xl mb-2">50+</h3>
            <p class="text-sm">package options</p>
        </div>
        <div>
            <h3 class="text-2xl mb-2">5+</h3>
            <p class="text-sm">membership deals</p>
        </div>
        <div>
            <h3 class="text-2xl mb-2">24/7</h3>
            <p class="text-sm">dedicated support</p>
        </div>
    </div>
</div>